<%# show all product %>
<div role="tabpanel" class="tab-pane tabs-menu__product" id="product">
  <div class="flex-box">

    <%# product tab %>
    <%= render "/admin/products/tab-product-view" %>

    <%# display product %>
    <div class="tab-content tab-product__content">
      <div role="tabpanel" class="tab-pane active" id="cafe">
        <div class="col-md-3 product" data-id="1">
          <div class="product__img">
            <%= image_tag "products/cafe.jpg", width: "100%" %>
          </div>
          <div class="product__text">
            <p class="product__text--name">Black coffee</p>
            <p class="product__text--price"><b>15 000</b></p>
          </div>
          <div class="product__quantity">
            <i class="fa fa-caret-up fa-2x"></i>
            <input type="text" class="product__quantity--number" value="0">
            <i class="fa fa-caret-down fa-2x"></i>
          </div>
        </div>
        <div class="col-md-3 product" data-id="2">
          <div class="product__img">
            <%= image_tag "products/lemon-juice.png", width: "100%"%>
          </div>
          <div class="product__text">
            <p class="product__text--name">Milk coffee</p>
            <p class="product__text--price"><b>15 000</b></p>
          </div>
          <div class="product__quantity">
            <i class="fa fa-caret-up fa-2x"></i>
            <input type="text" class="product__quantity--number" value="0">
            <i class="fa fa-caret-down fa-2x"></i>
          </div>
        </div>
        <div class="col-md-3 product" data-id="3">
          <div class="product__img">
            <%= image_tag "products/lemon-recipe.png", width: "100%"%>
          </div>
          <div class="product__text">
            <p class="product__text--name">Capuchino</p>
            <p class="product__text--price"><b>50 000</b></p>
          </div>
          <div class="product__quantity">
            <i class="fa fa-caret-up fa-2x"></i>
            <input type="text" class="product__quantity--number" value="0">
            <i class="fa fa-caret-down fa-2x"></i>
          </div>
        </div>
        <div class="col-md-3 product" data-id="4">
          <div class="product__img">
            <%= image_tag "products/cup-of-tea.jpg", width: "100%"%>
          </div>
          <div class="product__text">
            <p class="product__text--name">Bac xiu</p>
            <p class="product__text--price"><b>25 000</b></p>
          </div>
          <div class="product__quantity">
            <i class="fa fa-caret-up fa-2x"></i>
            <input type="text" class="product__quantity--number" value="0">
            <i class="fa fa-caret-down fa-2x"></i>
          </div>
        </div>
        <div class="col-md-3 product" data-id="5">
          <div class="product__img">
            <%= image_tag "products/ice-cream.jpg", width: "100%"%>
          </div>
          <div class="product__text">
            <p class="product__text--name">Cold coffee</p>
            <p class="product__text--price"><b>22 000</b></p>
          </div>
          <div class="product__quantity">
            <i class="fa fa-caret-up fa-2x"></i>
            <input type="text" class="product__quantity--number" value="0">
            <i class="fa fa-caret-down fa-2x"></i>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane col-md-12" id="fruit">
        <div class="col-md-3 product" data-id="6">
          <div class="product__img">
            <%= image_tag "products/lemon-juice.png", width: "100%" %>
          </div>
          <div class="product__text">
            <p class="product__text--name">Lemon Juice</p>
            <p class="product__text--price"><b>32 000</b></p>
          </div>
          <div class="product__quantity">
            <i class="fa fa-caret-up fa-2x"></i>
            <input type="text" class="product__quantity--number" value="0">
            <i class="fa fa-caret-down fa-2x"></i>
          </div>
        </div>
        <div class="col-md-3 product" data-id="7">
          <div class="product__img">
            <%= image_tag "products/lemon-juice.png", width: "100%"%>
          </div>
          <div class="product__text">
            <p class="product__text--name">Orange Juice</p>
            <p class="product__text--price"><b>55 000</b></p>
          </div>
          <div class="product__quantity">
            <i class="fa fa-caret-up fa-2x"></i>
            <input type="text" class="product__quantity--number" value="0">
            <i class="fa fa-caret-down fa-2x"></i>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="iceCream">fruit</div>
      <div role="tabpanel" class="tab-pane" id="tea">tea</div>
      <div role="tabpanel" class="tab-pane" id="can">can</div>
    </div>
  </div>
</div>
<div role="tabpanel" class="tab-pane tabs-menu__statictis-money" id="statictis-money">Money</div>
<div role="tabpanel" class="tab-pane tabs-menu__manages-staff" id="manages-staff">Staffs</div>
